<?xml version="1.0" encoding="UTF-8"?>
<project name="springboot" default="all">
  
  
  <property file="springboot.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*.yarb/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.egg"/>
    <include name="*.jar"/>
    <include name="*.ear"/>
    <include name="*.klib"/>
    <include name="*.swc"/>
    <include name="*.war"/>
    <include name="*.zip"/>
    <include name="*.ane"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.10" value="${jdk.home.10}/bin"/>
  <path id="jdk.classpath.10">
    <fileset dir="${jdk.home.10}">
      <include name="../Home!/java.activation"/>
      <include name="../Home!/java.base"/>
      <include name="../Home!/java.compiler"/>
      <include name="../Home!/java.corba"/>
      <include name="../Home!/java.datatransfer"/>
      <include name="../Home!/java.desktop"/>
      <include name="../Home!/java.instrument"/>
      <include name="../Home!/java.jnlp"/>
      <include name="../Home!/java.logging"/>
      <include name="../Home!/java.management"/>
      <include name="../Home!/java.management.rmi"/>
      <include name="../Home!/java.naming"/>
      <include name="../Home!/java.prefs"/>
      <include name="../Home!/java.rmi"/>
      <include name="../Home!/java.scripting"/>
      <include name="../Home!/java.se"/>
      <include name="../Home!/java.se.ee"/>
      <include name="../Home!/java.security.jgss"/>
      <include name="../Home!/java.security.sasl"/>
      <include name="../Home!/java.smartcardio"/>
      <include name="../Home!/java.sql"/>
      <include name="../Home!/java.sql.rowset"/>
      <include name="../Home!/java.transaction"/>
      <include name="../Home!/java.xml"/>
      <include name="../Home!/java.xml.bind"/>
      <include name="../Home!/java.xml.crypto"/>
      <include name="../Home!/java.xml.ws"/>
      <include name="../Home!/java.xml.ws.annotation"/>
      <include name="../Home!/javafx.base"/>
      <include name="../Home!/javafx.controls"/>
      <include name="../Home!/javafx.deploy"/>
      <include name="../Home!/javafx.fxml"/>
      <include name="../Home!/javafx.graphics"/>
      <include name="../Home!/javafx.media"/>
      <include name="../Home!/javafx.swing"/>
      <include name="../Home!/javafx.web"/>
      <include name="../Home!/jdk.accessibility"/>
      <include name="../Home!/jdk.aot"/>
      <include name="../Home!/jdk.attach"/>
      <include name="../Home!/jdk.charsets"/>
      <include name="../Home!/jdk.compiler"/>
      <include name="../Home!/jdk.crypto.cryptoki"/>
      <include name="../Home!/jdk.crypto.ec"/>
      <include name="../Home!/jdk.deploy"/>
      <include name="../Home!/jdk.deploy.controlpanel"/>
      <include name="../Home!/jdk.dynalink"/>
      <include name="../Home!/jdk.editpad"/>
      <include name="../Home!/jdk.hotspot.agent"/>
      <include name="../Home!/jdk.httpserver"/>
      <include name="../Home!/jdk.incubator.httpclient"/>
      <include name="../Home!/jdk.internal.ed"/>
      <include name="../Home!/jdk.internal.jvmstat"/>
      <include name="../Home!/jdk.internal.le"/>
      <include name="../Home!/jdk.internal.opt"/>
      <include name="../Home!/jdk.internal.vm.ci"/>
      <include name="../Home!/jdk.internal.vm.compiler"/>
      <include name="../Home!/jdk.internal.vm.compiler.management"/>
      <include name="../Home!/jdk.jartool"/>
      <include name="../Home!/jdk.javadoc"/>
      <include name="../Home!/jdk.javaws"/>
      <include name="../Home!/jdk.jcmd"/>
      <include name="../Home!/jdk.jconsole"/>
      <include name="../Home!/jdk.jdeps"/>
      <include name="../Home!/jdk.jdi"/>
      <include name="../Home!/jdk.jdwp.agent"/>
      <include name="../Home!/jdk.jfr"/>
      <include name="../Home!/jdk.jlink"/>
      <include name="../Home!/jdk.jshell"/>
      <include name="../Home!/jdk.jsobject"/>
      <include name="../Home!/jdk.jstatd"/>
      <include name="../Home!/jdk.localedata"/>
      <include name="../Home!/jdk.management"/>
      <include name="../Home!/jdk.management.agent"/>
      <include name="../Home!/jdk.management.cmm"/>
      <include name="../Home!/jdk.management.jfr"/>
      <include name="../Home!/jdk.management.resource"/>
      <include name="../Home!/jdk.naming.dns"/>
      <include name="../Home!/jdk.naming.rmi"/>
      <include name="../Home!/jdk.net"/>
      <include name="../Home!/jdk.pack"/>
      <include name="../Home!/jdk.packager"/>
      <include name="../Home!/jdk.packager.services"/>
      <include name="../Home!/jdk.plugin"/>
      <include name="../Home!/jdk.plugin.server"/>
      <include name="../Home!/jdk.rmic"/>
      <include name="../Home!/jdk.scripting.nashorn"/>
      <include name="../Home!/jdk.scripting.nashorn.shell"/>
      <include name="../Home!/jdk.sctp"/>
      <include name="../Home!/jdk.security.auth"/>
      <include name="../Home!/jdk.security.jgss"/>
      <include name="../Home!/jdk.snmp"/>
      <include name="../Home!/jdk.unsupported"/>
      <include name="../Home!/jdk.xml.bind"/>
      <include name="../Home!/jdk.xml.dom"/>
      <include name="../Home!/jdk.xml.ws"/>
      <include name="../Home!/jdk.zipfs"/>
      <include name="../Home!/oracle.desktop"/>
      <include name="../Home!/oracle.net"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.10}"/>
  <property name="project.jdk.bin" value="${jdk.bin.10}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.10"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.maven:_ch.qos.logback:logback-classic:1.2.3.classpath">
    <pathelement location="${path.variable.maven_repository}/ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.jar"/>
  </path>
  
  <path id="library.maven:_ch.qos.logback:logback-core:1.2.3.classpath">
    <pathelement location="${path.variable.maven_repository}/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.10.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-annotations/2.10.1/jackson-annotations-2.10.1.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-core:2.10.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-core/2.10.1/jackson-core-2.10.1.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.10.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/core/jackson-databind/2.10.1/jackson-databind-2.10.1.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.datatype:jackson-datatype-jdk8:2.10.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.10.1/jackson-datatype-jdk8-2.10.1.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.10.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.10.1/jackson-datatype-jsr310-2.10.1.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.module:jackson-module-parameter-names:2.10.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/jackson/module/jackson-module-parameter-names/2.10.1/jackson-module-parameter-names-2.10.1.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml:classmate:1.5.1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/fasterxml/classmate/1.5.1/classmate-1.5.1.jar"/>
  </path>
  
  <path id="library.maven:_com.jayway.jsonpath:json-path:2.4.0.classpath">
    <pathelement location="${path.variable.maven_repository}/com/jayway/jsonpath/json-path/2.4.0/json-path-2.4.0.jar"/>
  </path>
  
  <path id="library.maven:_com.vaadin.external.google:android-json:0.0.20131108.vaadin1.classpath">
    <pathelement location="${path.variable.maven_repository}/com/vaadin/external/google/android-json/0.0.20131108.vaadin1/android-json-0.0.20131108.vaadin1.jar"/>
  </path>
  
  <path id="library.maven:_jakarta.activation:jakarta.activation-api:1.2.1.classpath">
    <pathelement location="${path.variable.maven_repository}/jakarta/activation/jakarta.activation-api/1.2.1/jakarta.activation-api-1.2.1.jar"/>
  </path>
  
  <path id="library.maven:_jakarta.annotation:jakarta.annotation-api:1.3.5.classpath">
    <pathelement location="${path.variable.maven_repository}/jakarta/annotation/jakarta.annotation-api/1.3.5/jakarta.annotation-api-1.3.5.jar"/>
  </path>
  
  <path id="library.maven:_jakarta.validation:jakarta.validation-api:2.0.1.classpath">
    <pathelement location="${path.variable.maven_repository}/jakarta/validation/jakarta.validation-api/2.0.1/jakarta.validation-api-2.0.1.jar"/>
  </path>
  
  <path id="library.maven:_jakarta.xml.bind:jakarta.xml.bind-api:2.3.2.classpath">
    <pathelement location="${path.variable.maven_repository}/jakarta/xml/bind/jakarta.xml.bind-api/2.3.2/jakarta.xml.bind-api-2.3.2.jar"/>
  </path>
  
  <path id="library.maven:_net.bytebuddy:byte-buddy-agent:1.10.4.classpath">
    <pathelement location="${path.variable.maven_repository}/net/bytebuddy/byte-buddy-agent/1.10.4/byte-buddy-agent-1.10.4.jar"/>
  </path>
  
  <path id="library.maven:_net.bytebuddy:byte-buddy:1.10.4.classpath">
    <pathelement location="${path.variable.maven_repository}/net/bytebuddy/byte-buddy/1.10.4/byte-buddy-1.10.4.jar"/>
  </path>
  
  <path id="library.maven:_net.minidev:accessors-smart:1.2.classpath">
    <pathelement location="${path.variable.maven_repository}/net/minidev/accessors-smart/1.2/accessors-smart-1.2.jar"/>
  </path>
  
  <path id="library.maven:_net.minidev:json-smart:2.3.classpath">
    <pathelement location="${path.variable.maven_repository}/net/minidev/json-smart/2.3/json-smart-2.3.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.logging.log4j:log4j-api:2.12.1.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/logging/log4j/log4j-api/2.12.1/log4j-api-2.12.1.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.logging.log4j:log4j-to-slf4j:2.12.1.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/logging/log4j/log4j-to-slf4j/2.12.1/log4j-to-slf4j-2.12.1.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-core:9.0.29.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-core/9.0.29/tomcat-embed-core-9.0.29.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-el:9.0.29.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-el/9.0.29/tomcat-embed-el-9.0.29.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-websocket:9.0.29.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apache/tomcat/embed/tomcat-embed-websocket/9.0.29/tomcat-embed-websocket-9.0.29.jar"/>
  </path>
  
  <path id="library.maven:_org.apiguardian:apiguardian-api:1.1.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/apiguardian/apiguardian-api/1.1.0/apiguardian-api-1.1.0.jar"/>
  </path>
  
  <path id="library.maven:_org.assertj:assertj-core:3.13.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/assertj/assertj-core/3.13.2/assertj-core-3.13.2.jar"/>
  </path>
  
  <path id="library.maven:_org.hamcrest:hamcrest:2.1.classpath">
    <pathelement location="${path.variable.maven_repository}/org/hamcrest/hamcrest/2.1/hamcrest-2.1.jar"/>
  </path>
  
  <path id="library.maven:_org.hibernate.validator:hibernate-validator:6.0.18.final.classpath">
    <pathelement location="${path.variable.maven_repository}/org/hibernate/validator/hibernate-validator/6.0.18.Final/hibernate-validator-6.0.18.Final.jar"/>
  </path>
  
  <path id="library.maven:_org.jboss.logging:jboss-logging:3.4.1.final.classpath">
    <pathelement location="${path.variable.maven_repository}/org/jboss/logging/jboss-logging/3.4.1.Final/jboss-logging-3.4.1.Final.jar"/>
  </path>
  
  <path id="library.maven:_org.junit.jupiter:junit-jupiter-api:5.5.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/junit/jupiter/junit-jupiter-api/5.5.2/junit-jupiter-api-5.5.2.jar"/>
  </path>
  
  <path id="library.maven:_org.junit.jupiter:junit-jupiter-engine:5.5.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/junit/jupiter/junit-jupiter-engine/5.5.2/junit-jupiter-engine-5.5.2.jar"/>
  </path>
  
  <path id="library.maven:_org.junit.jupiter:junit-jupiter-params:5.5.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/junit/jupiter/junit-jupiter-params/5.5.2/junit-jupiter-params-5.5.2.jar"/>
  </path>
  
  <path id="library.maven:_org.junit.jupiter:junit-jupiter:5.5.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/junit/jupiter/junit-jupiter/5.5.2/junit-jupiter-5.5.2.jar"/>
  </path>
  
  <path id="library.maven:_org.junit.platform:junit-platform-commons:1.5.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/junit/platform/junit-platform-commons/1.5.2/junit-platform-commons-1.5.2.jar"/>
  </path>
  
  <path id="library.maven:_org.junit.platform:junit-platform-engine:1.5.2.classpath">
    <pathelement location="${path.variable.maven_repository}/org/junit/platform/junit-platform-engine/1.5.2/junit-platform-engine-1.5.2.jar"/>
  </path>
  
  <path id="library.maven:_org.mockito:mockito-core:3.1.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/mockito/mockito-core/3.1.0/mockito-core-3.1.0.jar"/>
  </path>
  
  <path id="library.maven:_org.mockito:mockito-junit-jupiter:3.1.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/mockito/mockito-junit-jupiter/3.1.0/mockito-junit-jupiter-3.1.0.jar"/>
  </path>
  
  <path id="library.maven:_org.objenesis:objenesis:2.6.classpath">
    <pathelement location="${path.variable.maven_repository}/org/objenesis/objenesis/2.6/objenesis-2.6.jar"/>
  </path>
  
  <path id="library.maven:_org.opentest4j:opentest4j:1.2.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/opentest4j/opentest4j/1.2.0/opentest4j-1.2.0.jar"/>
  </path>
  
  <path id="library.maven:_org.ow2.asm:asm:5.0.4.classpath">
    <pathelement location="${path.variable.maven_repository}/org/ow2/asm/asm/5.0.4/asm-5.0.4.jar"/>
  </path>
  
  <path id="library.maven:_org.skyscreamer:jsonassert:1.5.0.classpath">
    <pathelement location="${path.variable.maven_repository}/org/skyscreamer/jsonassert/1.5.0/jsonassert-1.5.0.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:jul-to-slf4j:1.7.29.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/jul-to-slf4j/1.7.29/jul-to-slf4j-1.7.29.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:slf4j-api:1.7.29.classpath">
    <pathelement location="${path.variable.maven_repository}/org/slf4j/slf4j-api/1.7.29/slf4j-api-1.7.29.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-autoconfigure:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-autoconfigure/2.2.2.RELEASE/spring-boot-autoconfigure-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-json:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-json/2.2.2.RELEASE/spring-boot-starter-json-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-logging:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-logging/2.2.2.RELEASE/spring-boot-starter-logging-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-test:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-test/2.2.2.RELEASE/spring-boot-starter-test-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-tomcat:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-tomcat/2.2.2.RELEASE/spring-boot-starter-tomcat-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-validation:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-validation/2.2.2.RELEASE/spring-boot-starter-validation-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-web:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter-web/2.2.2.RELEASE/spring-boot-starter-web-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-starter/2.2.2.RELEASE/spring-boot-starter-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-test-autoconfigure:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-test-autoconfigure/2.2.2.RELEASE/spring-boot-test-autoconfigure-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-test:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot-test/2.2.2.RELEASE/spring-boot-test-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot:2.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/boot/spring-boot/2.2.2.RELEASE/spring-boot-2.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-aop:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-aop/5.2.2.RELEASE/spring-aop-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-beans:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-beans/5.2.2.RELEASE/spring-beans-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-context:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-context/5.2.2.RELEASE/spring-context-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-core:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-core/5.2.2.RELEASE/spring-core-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-expression:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-expression/5.2.2.RELEASE/spring-expression-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-jcl:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-jcl/5.2.2.RELEASE/spring-jcl-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-test:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-test/5.2.2.RELEASE/spring-test-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-web:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-web/5.2.2.RELEASE/spring-web-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-webmvc:5.2.2.release.classpath">
    <pathelement location="${path.variable.maven_repository}/org/springframework/spring-webmvc/5.2.2.RELEASE/spring-webmvc-5.2.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.xmlunit:xmlunit-core:2.6.3.classpath">
    <pathelement location="${path.variable.maven_repository}/org/xmlunit/xmlunit-core/2.6.3/xmlunit-core-2.6.3.jar"/>
  </path>
  
  <path id="library.maven:_org.yaml:snakeyaml:1.25.classpath">
    <pathelement location="${path.variable.maven_repository}/org/yaml/snakeyaml/1.25/snakeyaml-1.25.jar"/>
  </path>
  
  
  <!-- Global Libraries -->
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <fileset dir="${javac2.home}">
      <include name="javac2.jar"/>
      <include name="jdom.jar"/>
      <include name="asm-all*.jar"/>
      <include name="forms-*.jar"/>
    </fileset>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/01-demo/module_01-demo.xml"/>
  
  <import file="${basedir}/02-demo/module_02-demo.xml"/>
  
  <import file="${basedir}/.idea/module_springboot.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.01-demo, clean.module.02-demo, clean.module.springboot" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.01-demo, compile.module.02-demo, compile.module.springboot" description="build all modules"/>
  
  <target name="all" depends="build.modules" description="build all"/>
</project>